<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Instructions</h2>
        <h3>Here are the instructions</h3>
    </div>

    <div>
        <h2>Features coming in the near future:</h2>
        <ul>
            <li>User/Admin login</li>
            <li>Users can add other users as friends and join groups</li>
            <li>"Private" or "secret" routes, that can be shared with friends or groups</li>
            <li>Email invite system</li>
            <li>Map preview images on main list dashboard</li>
        </ul>
    </div>




</body>
</html>