@{
    ViewData["Title"] = "Home Page";
}
@model LoginUser

<h2>Login to an existing account</h2>
<a asp-action="Index" asp-controller="Home" class="btn btn-warning" >Register</a>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="LogIn" asp-controller="Home" method="post">
    <label asp-for="LoginEmail"></label>
    <input asp-for="LoginEmail"><br>
    <label asp-for="LoginPassword"></label>
    <input asp-for="LoginPassword"><br>
    <input type="Submit" value="LogIn" class="btn btn-danger">
</form>
