@model ride



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Plan your ride</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="Create" asp-controller="ride">

        <label asp-for="ridename"></label>
        <input asp-for="ridename"><br>

        <label asp-for="kml_url"></label>
        <input asp-for="kml_url"><br>
        
            
        <label asp-for="ridedesc"></label>
        <input asp-for="ridedesc"><br>

        <label asp-for="ridecity"></label>
        <input asp-for="ridecity"><br>
        
        <label asp-for="ridestate"></label>
        <input asp-for="ridestate">
        <input type="submit" value="SUBMIT ride" class="btn btn-outline-warning">

</form>


    
</body>
</html>