@model ride



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<style>

    #wrapper {
        width: 100%;
        margin: 0px;

    }
    body {
        background-color: #293241;
    }
    * {
        @* outline: thin dotted pink; *@
        font-family: Arial, Helvetica, sans-serif;
        vertical-align: top;

    }
    nav {
    color: #ebebe3;
    background-color: #293241;
    display: inline-block;
    width: 100%;
    }
    #Header {
    font-size: 35pt;
    }
    #HeaderSub {
    margin-top: -2%;
    padding: 1%;
    }

        /* The CONTACT Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,.7); /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
    background-color: lightgrey;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    }
    /* The Close Button */
    .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }

    #formdiv {
    display: inline-block;
    background-color: #3d5a80;
    color: whitesmoke;
    height: 380px;
    padding: 1%;
    width: 60%;
    margin-left: 1%;
    margin-right: 1%;
    border: 2px solid #e0fbfc;
    border-radius: 10px;
    }
    #formhead {
        text-align: center;
        font-size: 20pt;
    }
    #valdiv {
        color: red;
    }

    #instructions {
    display: inline-block;
    color: whitesmoke;
    background-color: #3d5a80;
    height: 380px;
    padding: 3%;
    margin-right: 1%;
    width: 36%;
    border: 2px solid #e0fbfc;
    border-radius: 10px;
    overflow: auto;
    }

    #links {
    display: block;
    color: whitesmoke;
    background-color: #3d5a80;
    height: auto;
    padding: 3%;
    width: 80%;
    margin: 10%;
    margin-top: 1%;
    border: 2px solid #e0fbfc;
    border-radius: 10px;
    }
    #label {
        display: inline-block;
        width: 90%;
    }
    #label label {
        margin: 1%;
        height: 30%;
        width: 25%;
        color: whitesmoke;
    }
    .inputdesc {
        height: 80px;
        background-color: #6e8eb8;
        width: 70%;
        resize: none;
        border-style: solid;
        border-radius: 5px;
        border-color: #e0fbfc;
        border-width: 2px;
    }
    .inputdesc:focus {
        outline: none;
        border-color: #ee6c4d;
    }
    .input {
        width: 70%;
        background-color: #6e8eb8;
        margin-bottom: 1%;
        border-style: solid;
        border-radius: 5px;
        border-color: #e0fbfc;
        border-width: 2px;
    }
    .input:focus {
        outline: none;
        border-color: #ee6c4d;
    }

    .createbutton {
        display: inline-block;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 30%;
        margin-right: 30%;
        padding: 2%;
        text-align: center;
        width: 40%;
        font-size: 14pt;
        transition-duration: .4s;
        cursor: pointer;
        border-radius: 15px;
        color: whitesmoke; 
        background-color: #ee6c4d;
        text-decoration: line-through;
    }
    .createbutton:hover {
      background-color: #e0fbfc;
      color: #293241;
      text-decoration: line-through;
    }
        #footerdiv {
        color: whitesmoke;
    }
    .FooterLink1 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        background-color: #222831;
        display: block;
        width: 200px;
        text-align: center;
    }
</style>
<body>
<div id="wrapper">
    <nav>
        <div class="w3-bar">
            <span id="Header" class="w3-bar-item  w3-padding-14">RouteShare</span>
            <a href="#" id="myBtn" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-16 NavLink">Contact</a>
            <a style="text-decoration: line-through" asp-action="SignIn" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-16 NavLink" asp-controller="Home">LogIn</a>
            <a asp-action="newinfo" asp-controller="ride" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-16 NavLink">Info/Create</a>
            <a asp-action="Dashboard" asp-controller="ride" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-16 NavLink">Home</a>
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-padding-16 NavLink" onclick="myFunction()">&#9776;</a>
        </div>
            <div id="HeaderSub">A simple web app to share/view KML files</div>
        <div id="dropdown" class="w3-bar-block w3-hide w3-hide-large NavLink">
            <a asp-action="Dashboard" asp-controller="ride" class="w3-bar-item w3-button NavLink">Home</a>
            <a asp-action="newinfo" asp-controller="ride" class="w3-bar-item w3-button NavLink">Info/Create</a>
            <a asp-action="SignIn" class="w3-bar-item w3-button NavLink" asp-controller="Home" style="text-decoration: line-through">LogIn</a>
            <a href="#" id="myBtnsml" class="w3-bar-item w3-button NavLink">Contact</a>
        </div>
    </nav>

        <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-div">
                <span class="close">&otimes;</span>
                <h6>This web app was created by:</h6>
                <h2>Elliot McKinley</h2>
                <p><i class="fa fa-map-marker fa-fw w3-text-white w3-margin-right"></i> Chicago, US</p>
                <p><i class="fa fa-phone fa-fw w3-text-white w3-margin-right"></i> 773-562-4265</p>
                <i class="fa fa-envelope fa-fw w3-text-white w3-margin-right"> </i><a href="mailto:mckinleyelliot@gmail.com">ElliotMcKinley@gmail.com</a><p> </p>
                <i class="fa fa-linkedin-square fa-fw w3-text-white w3-margin-right"></i><a href="https://www.linkedin.com/in/elliot-mckinley">LinkedIn Profile</a>
            </div>
        </div>
    </div>

    <div id="formdiv">
    <p id="formhead">Create New Route</p>
        @* <form method="post" asp-action="Create" asp-controller="ride"> *@
            <form>
            <div id="label">
                <label asp-for="ridename"></label>
                <input class="input" asp-for="ridename"><br>
                <label asp-for="kml_url"></label>
                <input class="input" asp-for="kml_url"><br>
                <label asp-for="ridecity"></label>
                <input class="input" asp-for="ridecity"><br>
                <label asp-for="ridestate"></label>
                <input class="input" asp-for="ridestate">
                <label asp-for="ridedesc"></label>
                <textarea id="ridedesc" class="inputdesc" asp-for="ridedesc" name="ridedesc"></textarea><br>
            </div>
                <input type="submit" value="Create New Route" class="createbutton">
        </form>
        <div id="valModal" class="modal">
            <div id="valdiv" asp-validation-summary="All"></div>
        </div>
    </div>

    <div id="instructions">
        <h4>How to create a page on RouteShare:</h4>
        <ol>
            <li>Create your route using <a href="https://www.google.com/maps/about/mymaps/">My Maps</a></li>
            <li>Make your Map shareable</li>
            <li>Export your Map into a KML file</li>
            <li>Host your KML file on Google Drive, and make this shareable as well.</li>
            <li>Use this <a href="http://kolorobot.github.io/permalink/">Export Link tool</a> to find the export link for your KML file - use that URL here!</li>
        </ol>
        <ul>
            <li>Note: "Create New Route" is disabled for this demo</li>
        </ul>
    </div>

    <div id="links">
        <h4>Useful links to help create and host KML files</h4>
        <ul>
            <li><a href="https://www.google.com/earth/">Google Earth</a> - Used to view and create KML files</li>
            <li><a href="https://www.google.com/maps/about/mymaps/">Google My Maps</a> - Simplier than Google Earth, this in-browser option to create KML files is simplier to use.</li>

            <li><a href="https://community.appsheet.com/t/host-kml-files-on-google-drive/10941">How to host KML files on Google Drive</a></li>
        </ul>

    </div>



<footer>
    <div id="footerdiv">
        <a href="#" class="w3-button w3-padding-large w3-margin-bottom FooterLink1"><i class="fa fa-arrow-up"></i> To the top <i class="fa fa-arrow-up"></i></a><br>
    </div>
</footer>

</div>
<script>
//Modal Scripts
// Get the modal
var modal = document.getElementById("myModal");
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
var btn2 = document.getElementById("myBtnsml");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}
btn2.onclick = function() {
  modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<script>
//Modal Scripts
// Get the modal
var valmodal = document.getElementById("valModal");
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
var btn2 = document.getElementById("myBtnsml");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}
btn2.onclick = function() {
  modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<script> // Nav bar drop down for small screens
function myFunction() {
  var x = document.getElementById("dropdown");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>